{% extends 'tours/base.html' %}
{% load ru_pluralize %}
{% block container %}

    <main class="container">
        <section class="mt-3 pb-5">
            <h1 class="display-3 mt-4">{{ tour.title }} {% if stars == '1' %}★☆☆☆☆{% elif stars == '2' %}
                ★★☆☆☆{% elif tour.stars == '3' %}
                ★★★☆☆{% elif tour.stars == '4' %}★★★★☆{% elif tour.stars == '5' %}★★★★★{% endif %}</h1>
            <!-- HERO -->
            <p class="lead">{{ tour.country }} {{ tour_to_where }} на {{ tour.nights|ru_pluralize:'ночь, ночи, ночей' }}</p>
            <img src="{{ tour.picture }}" class="w-75" alt="title">
            <p class="my-4 w-75">{{ tour.description }}</p>
            <a href="https://travel.yandex.ru/hotels" class="btn btn-success btn-lg" target="_blank">Купить тур за {{ tour.price }}</a>
        </section>
    </main>

{% endblock %}