{% extends 'base.html' %}

{% block container %}

    <main class="container mt-3">
        <h1 class="display-5 mt-4">Летим из {{ fly_from }}</h1>
        <p class="mb-4">Найдено {{ info.count }} тур{{ info.tour_end }}, от {{ info.price_min }} до {{ info.price_max }}
            и от {{ info.night_min }} {% if info.night_min != 1 %}ночей{% else %}ночи{% endif %} до {{ info.night_max }}
            {% if info.night_max != 1 %}ночей{% else %}ночи{% endif %}</p>
        <!-- CARDS -->
        <div class="row mt-5">

            {% for key, departure in departures.items %}

                <div class="col-4">
                    <div class="card mb-4">
                        <img src="{{ departure.picture }}" class="card-img-top img-fluid" alt="{{ departure.title }}">
                        <div class="card-body">
                            <h2 class="h5 card-title">{{ departure.title }}</h2>
                            <p class="card-text">{{ departure.description|truncatechars:100 }}</p>
                            <a href="/tour/{{ key }}" class="btn btn-sm btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </main>

{% endblock %}